.nav.nav-pills > li > a.btn-default {
  background: #ffffff;
}

.nav.nav-pills {

  .btn-default {
    background: #ffffff;
    border-radius: 0;
    border-color: #56afd4;
    border: 1px solid #56afd4;
    margin-right: 10px;

    &.active {
      color: #ffffff;
      background: #48c0e2;
      border: 1px solid #48c0e2;
    }
  }
}
